/* Baby's first comment! */
html {
    background-color: blanchedalmond;
    font-family: 'Comic Neue', cursive;
    
}

h1, span, ul {
    font-style: italic;
}

ul {
    font-size: 1rem;
}

h1 {
    color: blue;
    background-color: #ef4321;
    font-family: 'Comic Neue', cursive;
    font-size: 2rem;
    
    padding-top: 20px;
    padding-right: 0em;
    padding-bottom: 40px;
    padding-left: 0em;
    text-align:center;
    border-style: dashed;
    border-color: black;
    border-width: thick;
    border-radius: 30px;

    max-width:10in;
    min-width:5in;
}


h2 {
    color: rgba(233, 12, 234, 0.9);
    padding: 1vw 1vw 1vw 1vw;
    background-color: rgba(0, 142, 55, 0.5);
    border: 5px solid red;
    margin: 10mm 60mm 10mm 0mm;
    height: 100px;
    &:hover {
        background-color: blue;
    }
}



h3 {
    color: #938475;
    padding: 3ch 0 3ch 3ch;
    background-color: rgba(75, 138, 247, 0.5);
    border: 5px dotted blue;
    border-radius: 500px;
    text-decoration: solid underline purple 5px;
    
}

h4 {
    color: hsl(98, 26%, 50%);
    padding: 3mm;
    background-color: rgba(240, 153, 218, 0.5);
    margin-left: px;
    margin-right: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
}

strong {
    color: green;
    padding: 10px;
    background-color: rgba(255, 0, 191, 0.6);
}

b {
    color: color(srgb 0.1 0.5 0.8 / 0.9);
    padding-top: 0.1in;
    padding-right: 0.1in;
    padding-bottom: 0.1in;
    padding-left: 0.1in;
    background-color: rgba(26, 233, 60, 0.5);
}

em {
    color:color-mix(in lab, plum 60%, #f00 50%);
}

i {
    --my-var: red;
    color: var(--my-var, blue);
}

.dogcol {
    display: inline;
}

.dogrow {
    display: block;
}

#dogwatch {
    float: right;
    position: sticky;
    top: 0px;
    right: 0px;
}

#dogwatch:hover {
    float: left;
}

.doglost {
    position: absolute;
    top: 7500px;
    left: 300px;
}

.doglost:active {
    top:0px;
    left:0px;
}

@media (max-aspect-ratio: 1/1) {
    .querystuff {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-aspect-ratio: 1/1) {
    .querystuff {
      display: flex;
      flex-direction: row;
    }
  }

.banana {  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around
}

.apple {
    display: grid;
    justify-content: space-evenly;
    justify-items: stretch;
}

*.per {
    color: green;
}

*.aple {
    color: red;
}

[jackpot~="jackpot"] {
    border: 5px solid olive;
}

#box1 p {
    color: brown;
}

ul > li > ul > li{
    border: 2px solid blueviolet;
}

video + p {
    border: 4px dotted orange;
    color: violet
}

video ~ p {
    background-color: lightgreen;
}

p.highlight {
    background-color: yellow;
    font-weight: bold;
}

.hasimg:has(img) {
    border: 2px solid green;
    background-color: #f0fff0;
}