h1 {
    color: blue;
}

h2 {
    color: rgba(233, 12, 234, 0.9)
}

h3 {
    color: #a32309
}

h4 {
    color: hsl(98, 26%, 50%) 
}

strong {
    color: orange
}

b {
    color: color(srgb 0.1 0.5 0.8 / 0.9)
}

em {
    color:color-mix(in lab, plum 60%, #f00 50%)
}

i {
    --my-var: red;
    color: var(--my-var, blue);
}